nav {
    display: flex;
}
ul {
    padding-left: 20px;
    margin-top: 0;
}
li {
    list-style: none;
}
a {
    text-decoration:none;
    color: black;
    padding: 5px;
    line-height: 1.5em;
}
a:hover {
    background-color: aqua;
    border-radius: 10px;
}